<h3>JavaScript Licenses</h3>
<table border="1" id="jslicense-labels1">
  <tr>
    <td><a href="/assets/js/main.js">main.js</a></td>
    <td><a href="https://github.com/privacytools/privacytools.io/raw/master/LICENSE.txt">CC0-1.0-only</a></td>
  </tr>
  <tr>
    <td><a href="/assets/js/applytheme.js">applytheme.js</a>
    <td><a href="https://github.com/privacytools/privacytools.io/raw/master/LICENSE.txt">CC0-1.0-only</a></td>
  </tr>
  <tr>
    <td><a href="/assets/js/redirects.js">redirects.js</a></td>
    <td><a href="https://github.com/privacytools/privacytools.io/raw/master/LICENSE.txt">CC0-1.0-only</a></td>
  </tr>
  <tr>
    <td><a href="/assets/js/bootstrap.min.js">bootstrap.min.js</a></td>
    <td><a href="https://github.com/twbs/bootstrap/raw/main/LICENSE">Expat</a></td>
  </tr>
  <tr>
    <td><a href="/assets/js/popper.min.js">popper.min.js</a></td>
    <td><a href="https://github.com/popperjs/popper-core/raw/master/LICENSE.md">Expat</a></td>
  </tr>
  <tr>
    <td><a href="/assets/js/sortable.min.js">sortable.min.js</a></td>
    <td><a href="https://github.com/HubSpot/sortable/raw/master/LICENSE">Expat</a></td>
  </tr>
</table>
